
* {
    box-sizing: border-box;
}

.container {
    color: blueviolet;
    font-size: 38px;
    border:  4px solid orange;
}

/* .inner-box, p {
    border:  4px solid orange; 
} */

.inner-box {
   color:brown;  /* 상속 속성  변경 : 캐스캐이딩 룰 대로 적용된다. */
}